<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title th:text="|Channels for: ${login}|">Channels for: login</title>
    </head>
<body>
<ul>
   <li th:each="channel: ${channels}" th:text="${channel.name}">Our channels</li>
</ul>
</body>
</html>